// Import partials.
@import "piggy-bank/debug";

/* global variables */
$base-font-family: 'Verdana', san-serif;
$base-fixwidth-font-family: Consolas, Monaco, monospace;
$base-font-unit: 6px;
$base-font-size: $base-font-unit * 3;
$page-margin-left: 20%;
$page-margin-right: 20%;

$screen-size-mobile: 700px;
$screen-size-tablet: 1200px;

@mixin padding-top-bottom($padding) {
    padding-top: $padding;
    padding-bottom: $padding;
}

@mixin header($number) {
    font-size: $base-font-unit * (13 - $number);
    font-weight: 600;
}

@mixin page-margin {
    margin-left: $page-margin-left;
    margin-right: $page-margin-right;

    @media (max-width: $screen-size-tablet) {
        margin-left: 10px;
        margin-right: 10px;
    }
}

body {
    margin: 0px;
    padding: 0px;
    font-family: $base-font-family;
    font-size: $base-font-size;

    /* Background Image configurations
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url('piggy-bank-background-2.svg');
    background-size: ($screen-size-mobile * 2) auto;
    */
    background-color: whitesmoke;
}

.site-header {
    width: 100%;

    .nav-bar {
        @include padding-top-bottom(15px);
        @include page-margin;

        .nav-title {
            @include header(1);

            display: block;

            text-decoration: none;
            color: inherit;
        }

        .nav-subtitle {
            display: block;
        }

        .nav-links {
            @include header(8);
            align-self: center;

            a {
                color: inherit;
                margin: 5px;
            }
        }
    }
}

.site-content {
    @include page-margin;

    .home {
        table {
            border-collapse: collapse;
            width: 100%;

            tbody {
                tr {
                    vertical-align: top;
                    font-family: $base-fixwidth-font-family;

                    .post-meta {
                        white-space: nowrap;
                        width: auto;
                    }

                    .post-link {
                        width: 100%;
                    }
                }

                tr:hover {
                    background-color: white;
                }

                tr:nth-child(2n+1) {
                    background-color: lighten(coral, $amount: 20%);
                }
            }

        }

        @media (max-width: $screen-size-mobile) {
            table, thead, tbody, th, tr, .post-link {
                display: block;
            }

            .post-link:before {
                content: "→";
            }
        }
    }

    img {
        display: block;
        width: 75%;

        @media (max-width: $screen-size-mobile) {
            width: 100%;
        }
    }

    pre {
        code {
            @media (max-width: $screen-size-mobile) {
                font-size: 0.5em;
            }
        }
    }

}

.site-footer {
    @include page-margin;
    border-top: 1px solid black;
    text-align: right;
    margin-top: 5em;
    margin-bottom: 5em;

    #signature {
        a {
            text-decoration: none;
            color: inherit;
        }

        a:hover{
            text-decoration: underline;
        }
    }
}
